

.image-container {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipMCqBa5EbmilkOuT95SEmo5xf2nTPnVL76rF4sX=s1600-w1000);
    background-size: cover;
    position: relative;
    height: 900px;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 30px; 
    font-weight: bold;
    padding: 20px;
    width: 50%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    border-radius: 75%;
  }