.pocetna {
    padding: 20px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.pocetna-container {
    backdrop-filter: blur(20px);
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	clip-path: square;
    color: white;
    font-size:20px;
    padding: 10px;
}

.pocetna-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}